// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


ul.destination-container {
    height: 200px; 
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 100px;
}

.destination-child {
    flex-basis: 25%;
    align-items: center;
    text-align: center;
}

.back-button {
    position: relative;
    bottom: 40px;
    top: 10px;
    width: 100%;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#destination-back {
    text-align: right;
    right: 100px;
    display: block;
    position: fixed;
    bottom: 100px;
    width: 100%;
}

div.paragraph-container {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

p.language {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
}

#super-div {
    height: 100%;
}