// Place all the styles related to the Vacations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.vaca-info {
    margin-left: 20px;
    width: 50%;
}

p.flight-change {
    position: relative;
    text-align: center;
    margin-right: 230px;
}

.delete-button {
    margin: auto;
    width: 50%;
    text-align: center;
}

#submit_button {
    background-color: orchid;
    border-radius: 100px;
}

#submit_button:hover {
    background-color: seagreen;
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form-child {
    flex-basis: 10%;
}

.new-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form-new-child {
    flex-basis: 10%
}

.center-link {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

#center-form {
    margin: 0 auto;
    top: 50%;
}

#go-back {
    margin-top: 50px;
}